@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@700&family=Saira:wght@400;700&display=swap");

/*
  Este archivo es principalmente para importar recursos globales como fuentes.
  La mayoría de los estilos son manejados por las clases de utilidad de Tailwind CSS en index.html.
  Se pueden agregar estilos base adicionales aquí si es necesario.
*/
